<div class="container">
  <h3>Exploitation</h3>
  <ol>
    <li>Установи в куку &lt;script&gt;alert(1)&lt;/script&gt;</li>
    <li>Обнови страницу</li>
  </ol>
  <form method="POST">
    <div class="form-group">
      <label for="cookieValue">Значение сookie</label>
      <input type="text" class="form-control" id="cookieValue" placeholder="Enter cookie value" name="cookieValue">
    </div>
    <button type="submit" class="btn btn-primary">Установить</button>
  </form>
  <h3>Значение cookie:</h3>
  <p>{{{text}}}</p>
</div>