<div class="container">
  <h3>Exploitation</h3>
  <blockquote>example.com/path?value=somevalue&lt;/script&gt;&lt;script&gt;alert(1)&lt;/script&gt;</blockquote>
  <script> var a = {'a': '{{{value}}}'};</script>
</div>
